{% extends 'base.html' %}

{% block content %}


<form id="add-playlist-form" method="POST">
    {{ form.hidden_tag() }}
  
    {% for field in form
           if field.widget.input_type != 'hidden' %}
  
      <p>
        {{ field.label }}
        {{ field }}
  
        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
  
    {% endfor %}

    {% for song in songs %}
    <input type="checkbox" value='{{song.id}}' name='song'><label for="{{song.id}}">{{song.title}} by {{song.artist}}</label><br>
    {% endfor %}
  
    <button class="btn btn-primary" type="submit">Submit</button>
</form>


{% endblock %}